@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap');

@tailwind base;
@tailwind utilities;

body {
  color: #121039;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  line-height: 28px;
  background-color: rgb(15 23 42);
  -webkit-font-smoothing: antialiased;
}